<h1><%= @user.name %> (<%= @user.email %>)</h1>

<h2><%= @user.name %>'s Posts</h2>

<% @user.posts.each do |post| %>
  <div class="post">
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
  </div>
<% end -%>
