<h1>Make A Post</h1>

<%= form_for @post do |f| %>

  <div>
   <%= f.label :user_id %>
   <%= f.select :user_id, options_for_select(User.all.map { |user| [ user.name, user.id ] }) %>
  </div>

  <div>
   <%= f.label :title %>
   <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit 'Post It!' %>
  </div>

<% end -%>
